<center>
	<h2>Envio de arquivos</h2>
		<%= form_for :clientes , :url => {:controller => 'clientes' , :action => 'buscar'} do |f| %>
			Selecione um arquivo *.csv: <%= f.file_field :nome_arquivo %><br/>
			<%= f.submit %>
		<% end %>
		<%= form_for :clientes , :url => {:controller => 'clientes' , :action => 'criar_pdf'} do |f| %>
			<%= f.submit "Save PDF"%>
		<% end %>
</center>